body {
  background-color: rgb(13, 122, 39)
}

.header_logo {
  height: 100px;
  width: 150px
}

.image_example {
  height: 300px;
  width: 300px;
}

.image_example_2 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-left: 40px;
  font-size: 40px;
  text-align: center;
}

p {
  margin-left: 40px;
  font-size: 20px;
  text-align: center;
}

.fa-instagram {
  background: #125688;
  color: rgb(189, 27, 27);
}